@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre&display=swap');

body {
  margin: 0;
  font-family: 'Frank Ruhl Libre', serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
